name: Update Docs

on:
  push:
    branches:
      - main
    paths:
      - data.tsv
      - '**.py'
  schedule:
    - cron: "0 10 * * 1"

jobs:
  process:
    permissions:
      contents: write
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}

    runs-on: ubuntu-latest
    timeout-minutes: 20

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.x"

      # - run: pip install -r requirements.txt
      - name: Run Python scripts
        env:
          TOKEN: ${{ secrets.GH_TOKEN }}
        run: bash run.sh

      - name: Git auto commit
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_user_name: "github-actions[bot]"
          commit_user_email: "41898282+github-actions[bot]@users.noreply.github.com"
          commit_author: "github-actions[bot] <41898282+github-actions[bot]@users.noreply.github.com>"
          commit_message: Automated update by github action
          # commit_options: '--no-verify --signoff'
          file_pattern: "data.tsv README.md"
